---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "糟糕！看起来这个页面在太空中迷路了！",
	title: "糟糕！你发现了一个缺失的页面！",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | 糟糕，出了点问题</h1>
	<p class="mb-8">请使用导航找到回去的路</p>
</PageLayout>
