---
import PageLayout from "@/layouts/Base.astro";
import { t } from "@/i18n/translations";

const meta = {
	description: t("error.404.description"),
	title: t("error.404.title"),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">{t("error.404.title")}</h1>
	<p class="mb-8">{t("error.404.description")}</p>
</PageLayout>
