---
import PageLayout from "@/layouts/Base.astro";

const meta = {
description: "我是一个 Astro.build 的入门主题",
title: "关于",
};
---

<PageLayout meta={meta}>
<h1 class="title mb-12">关于</h1>
<div class="prose prose-sm prose-cactus max-w-none">
<p>
你好，我是一个 Astro 入门主题。我特别适合帮助你开始构建自己的博客网站。
</p>
<p>以下是我的一些出色的内置功能：</p>
<ul class="list-inside list-disc" role="list">
<li>我是超快的，因为我是一个静态网站</li>
<li>我完全响应式</li>
<li>我带有浅色和深色模式</li>
<li>我易于自定义和添加额外内容</li>
<li>我有 Tailwind CSS 样式</li>
<li>Shiki 代码语法高亮</li>
<li>使用 Satori 自动生成博客文章的 OG 图片</li>
</ul>
<p>
如果你喜欢我，请克隆或分叉我的 <a
class="cactus-link inline-block"
href="https://github.com/chrismwilliams/astro-cactus"
rel="noreferrer"
target="_blank">仓库</a
>！
</p>
</div>
</PageLayout>
